<!-- Page Conttent -->
<main class="page-content">

  <!-- My Account Page -->
  <div class="my-account-area section-padding-md">
    <div class="container">
      <div class="row">

        <!-- Login Form -->
        <div class="col-lg-4 col-md-4 col-sm-12 mx-auto">
          <div class="login-form-wrapper">
            <form action="#" class="sn-form sn-form-boxed">
              <div class="sn-form-inner">
                <div class="single-input">
                  <label for="login-form-email">Username or email address *</label>
                  <input type="text" name="login-form-email" id="login-form-email">
                </div>
                <div class="single-input">
                  <label for="login-form-password">Password *</label>
                  <input type="password" name="login-form-password" id="login-form-password">
                </div>
                <div class="single-input">
                  <button type="submit" class="sn-button sn-button-dark mr-3">
                    <span>Login</span>
                  </button>
                  <div class="checkbox-input">
                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                    <label for="login-form-remember">Remember me</label>
                  </div>
                </div>
                <div class="single-input">
                  <a href="javascript:;">Forgot password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--// Login Form -->

      </div>
    </div>
  </div>
  <!--// My Account Page -->


</main>
<!--// Page Conttent -->